<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"> #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {{ bootstrap.load_css() }}
    <title>iCSC 2019 - Exercise 4</title>
</head>
<body>

  <div class="main">
    <h1>iCSC 2019 - Exercise 4</h1>
    {# <img src="/images/kubernetes.png"/> #}
    <div class="content">

<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>pod:</th>
      <td>{{ node }}</td>
    </tr>
    <tr>
      <th>platform:</th>
      <td>{{ platform }}</td>
    </tr>
  </table>
</div>


    </div>
  </div>


{{ bootstrap.load_js() }}
</body>
</html>
